{% extends "layout_out.html" %}
{% block content %}
    <section class="welcome">
        <div>
            <img class="icon_img" src="../static/img/icon.png" alt="treem icon">
        </div>
        <div class="thanks_message">
            <p> Вы сделали первый шаг к заботе о будущем нашей планеты ♡ <br><br>
                Для завершения регистрации, пожалуйста, найдите письмо от example@mail.com и перейдите по ссылке из его текста.</p>
        </div>
        <div>
            <input class="button btn btn-succes" type="submit" id="back_home" name="back_home" value="Вернуться ко входу">
        </div>
    </section>
{% endblock content %}
