<!DOCTYPE imagehtml>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>treem Service</title>
        <meta name="description" content="Save trees, recive gifts!">
        <link rel="stylesheet" href="../static/styles.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" /> -->
        
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
        <link rel="manifest" href="../static/favicons/site.webmanifest">
        <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="../static/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="../static/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <main>
            <section class="welcome">
                <form id="register_form" method="POST" action="http://localhost:8000/register/">
                    <fieldset>
                        <div>
                            <img class="icon_img" src="../static/img/icon.png" alt="treem icon">
                        </div>
                        <div>
                            <input class = "email field" type="email" id="newtremail" placeholder="Введите адрес эл.почты" required><br>
                        </div>
                        <div>
                            <input class = "treemlogin field" type="text" id="newtrlogin" placeholder="Придумайте имя пользователя" required><br>
                        </div>
                        <div>
                            <input class = "treempassword field" type="password" id="newtrpassword" placeholder="Придумайте пароль" required><br>
                        </div>
                        <div>
                            <input class = "treempassword field" type="password" id="newtrpassword_repeat" placeholder="Повторите пароль" required><br>
                        </div>
                        <div>
                            <input class="button btn btn-succes" type="submit" id="create_acc" value="Создать аккаунт">
                        </div>
                    </fieldset>
                </form>
            </section>
        </main>

        <footer class="footer">
            <p><u>Language: русский</u></p>
            <p>Egor&Sasha production &hearts;</p>
        </footer>

        <script async src="../static/js/main.js"></script>
        
    </body>
</html>